*{
    padding: 0;
    margin: 0;
}

.container{
    /* background-color: rosybrown; */
    width: 70%;
    height:  100vh;
    margin: 0 auto;
}

.gallery__h{
    padding-top: 40px;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    color: orange;
}

.gallery__img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px orange solid;
    border-radius: 4px;
}

.gallery{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

@media screen and (max-width: 600px) {
    .container{
        /* background-color: brown; */
    }
    .gallery{
        flex-direction: column;
        align-items: center;
    }
    .gallery__img{
        border: none;
        margin-bottom: 40px;
    }
}
